[package]
name = "rust_pgn_reader_python_binding"
version = "2.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rust_pgn_reader_python_binding"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.23.3"
shakmaty = "0.27"
pgn-reader = "0.26.0"
nom = "7.1.3"