[package]
name = "rust_pgn_reader_python_binding"
version = "2.5.2"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rust_pgn_reader_python_binding"
crate-type = ["lib", "cdylib"]
# lib is needed for the native benchmark

[dependencies]
pyo3 = "0.23.3"
shakmaty = "0.27"
pgn-reader = "0.26.0"
nom = "7.1.3"
rayon = "1.10.0"
num_cpus = "1.16.0"

[dev-dependencies]
criterion = "0.5.1"
parquet = "53.3.0"
arrow = "53.3.0"

[[bench]]
harness = false
name = "parquet_bench"

